#define WIFI_SSID "tmp"
#define WIFI_PASSWORD "tmp"
#define OTA_PORT tmp
#define OTA_PASSWORD "tmp"
#define HOSTNAME "tmp"
#define MQTT_IP tmp
#define MQTT_PORT tmp
#define MQTT_USER tmp
#define MQTT_PASSWORD tmp
#define OUT_TOPIC tmp
